h1 {
    color:chocolate;
    margin-left: 1.25%;
    margin-top: 3px;
}
main {
    width: 95%;
    margin: 0 auto;
    min-width: 450px;
    max-width: 1300px;
}
figure {
    width: 100%;
    margin: 0px;
    margin-bottom: 0px;
}
.ltImg {
    /*border: 3px solid chocolate;*/
    border-radius: 7%;
    width: 30%;
    margin: 1.25%;
}
footer {
    color: chocolate;
    margin-left: 1.25%;
    
}
span {
    font-size: .8em;
    color: rgb(95, 95, 95);
}